.sidebar{
    height: 100vh;
    color: white;
    flex: 0.2;
    background-color: #0b0b5a;
    flex-shrink: 0;
}
.sidebaricon{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    flex-direction: column;
    align-items: center;

}
.sideBarTopContent{
    font-size: 26px;
}
.sideBarOptionsBlock{
    margin-top: 30px;
}
.sideBarOption{
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.selectedOption{
    background-color: rgb(72,72,222);
}